form {
    margin: 2rem;
}

label,
input,
textarea {
    display: flex;
}

input,
textarea {
    padding: 0.25rem;
    margin-bottom: 0.75rem;
}

input[type=submit] {
    margin-bottom: 0;
    cursor: pointer;
}